body {
    font-family: 'Fredericka the Great', cursive;
    color: #f1f0e8;
    background-image: url("Imagenes/fondo-bandera-cuadros.jpg");
    background-size: cover;
    padding: 20px;
    margin: 70px;
    height: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
}

p {
    font-size: 20px;
    margin: 80px;
}

#bandera {
    font-size: 100px;
}

#autito {
    font-size: 100px;
}

.item {
    width: 400px;
    height: 550px;
    border: 5px solid #804000;
    border-radius: 20px;
    text-align: center;
    background-color: #434750;
}

.volver {
    position: absolute;
    top: 20px;
    left: 20px;
}

