

body {
    background-image: url(Imagenes/FondoCarreraIndex.jpg);
    background-size: cover;
}

h1 {
    font-family: 'Tapestry', cursive;
    font-size: 100px;
    color: #000000;
    text-shadow: 5px 5px 4px #ffffff;
    text-align: center;
    margin: 0;
}


#comoUsar {
    font-size: 15px;
    text-decoration: none;
    color: white;
}

#jugar {
    font-size: 40px;
    text-decoration: none;
    color: white;
}

.jugar {
    width: 200px;
    margin: auto;
}

.comoUsar {
    width: 180px;
    margin: auto;
}

.margenEnlace {
    background-color: #333333;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    padding: 10px 19px;
}

img {
    margin-left: 40%;
    max-width: 25%;
    max-height: 5%;
}

a#jugar:hover{
    color: #FFD102;
}

a#comoUsar:hover{
    color: #FFD102;
}

footer {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    background-color: #F6E3CA;
    border: #D7C8B6 2px solid;
    float: left;
    margin-right: 10px;
    padding: 0 4px;
}

