body{
    background-image: url("Imagenes/fondo-bandera-cuadros.jpg");
    background-size: cover;
}

canvas{
    border: 1px solid black;
    margin-left: 400px;
}

#volver {
    height: 70px;
    width: 70px;
}

#miCanvas{
    padding-left: 10px;
    padding-right: 0;
    margin-left: 300px;
    margin-right: 500px;
    vertical-align: middle;
    display: block;
    left: 370px;
    height:908px;
    width: 758px;
    background-image: url("Imagenes/FondoArena.jpeg ");
    position: fixed;
}

.volver {
    position: absolute;
    left: 5px;
}

.iniciar{
    text-align: center;
    width: 200px;
    float: left;
    padding-top: 300px;
    padding-left: 100px;
}

button{
    font-size: 50px;
    background-color: #FFD102;
}

button:hover{
    cursor: pointer;
    background-color: rgba(235,183,2,1);
}