body, html {
    height: 100%;
}

body {
    background-image: url("Imagenes/FondoArena.jpeg");
}

#Pista {
    height: 1000px;
    width: 500px;
    margin-left: 41%;
}

#vehiculo1 {
    width: 100px;
    height: 200px;
}

#vehiculo2 {
    width: 100px;
    height: 200px;
}

.Vehiculo1 {
    position: absolute;
    bottom: 0;
    left: 45%;
}

.Vehiculo2 {
    position: absolute;
    bottom: 0;
    left: 58%;
}

.contenedor {
    position: relative;
}

button {
    border-radius: 5px;
    font-size: 30px;
    color: rgb(245, 245, 245);
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
}

.botonConteiner {
    position: absolute;
    left: 51%;
    bottom: 70%;
}

#volver {
    height: 70px;
    width: 70px;
}

.volver {
    position: absolute;
    left: 5px;
}